@use "@/styles/variables/colors" as *;
@use "@/styles/variables/spacing" as *;
@use "@/styles/variables/typography" as *;

.link {
  color: $color-link;
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: $transition-default;

  &:hover {
    color: $color-link-hover;
  }

  &:focus-visible {
    outline: none;
    box-shadow: $shadow-sm $color-focus-ring;
  }
}


