@use "../../../styles/variables/colors" as *;
@use "../../../styles/variables/spacing" as *;
@use "../../../styles/variables/typography" as *;

.navbar {
  display: flex;
  flex-direction: column;
  padding: $spacing-lg;
  background-color: $color-background-light;
  border-right: $border-width-standard solid $color-border;
  min-width: 200px;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.navItem {
  margin: 0;
}

.signOutContainer {
  margin-top: auto;
  padding-top: $spacing-lg;
  border-top: $border-width-standard solid $color-border;
}

.navLink {
  display: block;
  padding: $spacing-sm $spacing-md;
  color: $color-text-primary;
  text-decoration: none;
  border-radius: $radius-md;
  transition: $transition-default;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;

  &:hover {
    background-color: $color-background-lighter;
    color: $color-primary;
  }

  &:focus {
    outline: 2px solid $color-focus-ring;
    outline-offset: 2px;
  }
}

.navLinkActive {
  background-color: $color-primary;
  color: $color-text-on-primary;
  font-weight: $font-weight-semibold;

  &:hover {
    background-color: $color-primary-dark;
    color: $color-text-on-primary;
  }
}

@media (max-width: $breakpoint-mobile) {
  .navbar {
    min-width: 100%;
    border-right: none;
    border-bottom: $border-width-standard solid $color-border;
  }

  .navList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-sm;
  }
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: $color-background-secondary;
    border-color: $color-border-dark;
  }

  .navLink {
    color: $color-text-light;

    &:hover {
      background-color: $color-background-tertiary;
      color: $color-primary;
    }
  }

  .navLinkActive {
    background-color: $color-primary;
    color: $color-text-on-primary;

    &:hover {
      background-color: $color-primary-dark;
      color: $color-text-on-primary;
    }
  }

  .signOutContainer {
    border-color: $color-border-dark;
  }
}
