@use "@/styles/variables/colors" as *;
@use "@/styles/variables/spacing" as *;

.lowStockWidget {
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: $spacing-md;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: $spacing-xs;
    }

    &__name {
        color: $color-text-primary;
    }

    &__stock {
        color: $color-text-secondary;
    }
}

